
/*Estilos gerais*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    @include type-2(14);
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    border: 3px solid $amarelo;
    padding: 10px 30px;
    color: $amarelo;
    @include type-1(14);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color: $white;
    border-color: $white;
}

.btn.btn_preto:hover {
    color: $black;
    border-color: $black;
}

.subtitulo {
    font-weight: bold;
    letter-spacing: .1em;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    @include type-1(24);
}

.subtitulo:after {
    content : "";
    display: block;
    width: 60px;
    height: 3px;
    background: $black;
    margin: 8px auto;
}


.subtitulo-interno {
    font-weight: bold;
    letter-spacing: .1em;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include type-1(24);
}

.subtitulo-interno:after {
    content : "";
    display: block;
    width: 60px;
    height: 3px;
    background: $black;
    margin: 8px 0;
}


/*Header*/

.header {
    width: 100%;
    background: $amarelo;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 10;
    @include device($device-mobile) {
        position: relative;
		padding-bottom: 0;
    }
}

.header img {
    @include device($device-mobile) {
        margin: 0 auto 10px auto;
    }
}

.header_menu {
    text-align: right;
    @include device($device-mobile) {
        text-align: center;
    }
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
    @include device($device-mobile) {
        margin: 5px;
    }
}

.header_menu ul li a {
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;   
    padding: 10px 0;
    @include type-1(14);
    @include device($device-mobile) {
        border: 4px solid $black;
		width: 136px;
		display: block;
		float: left;
    }
    &:hover, &.menu_ativo {
        color: $white;
        @include device($device-mobile) {
            border-color: $white;
        }
    }
}

/*Introducao*/

.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
    @include device($device-mobile) {
        margin-top: 0px;
		padding-top: 40px;
		background: url("../img/bg-mobile.jpg") no-repeat center;
		background-size: cover;
    }
}

.introducao h1 {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    @include type-1(48);
    @include device($device-mobile) {
        @include type-1(36);
    }
}


.quote-externo {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: $white;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p:before, .quote-externo p:after {
    content : "";
    display: block;
    width: 60px;
    height: 3px;
    background: $white;
    margin: 14px auto 10px auto;
}

.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    letter-spacing: .1em;
    @include type-1(14);
}

/*introducao interna */

.introducao-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    text-align: center;
    color: $white;
    padding-top: 30px;
    @include device($device-mobile) {
        margin-top: 0px;
    }
}

.introducao-interna h1 {
    font-weight: bold;
    text-transform: uppercase;
    @include type-1(36);
}

.introducao-interna h1:after {
    content : "";
    display: block;
    width: 60px;
    height: 3px;
    background: $white;
    margin: 6px auto 10px auto;
}

/*produtos*/

.produtos {
    padding: 60px 0;
}

.produtos_lista li {
    background: $amarelo;
    text-align: center;
}

.produtos_lista li img {
    margin: 0 auto;
}

.produtos_lista li h3 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    margin-top: 20px;
    @include type-1(18);
}

.produtos_lista li h3::after {
    content : "";
    display: block;
    width: 60px;
    height: 3px;
    background: $black;
    margin: 2px auto;
}

.produtos_lista li p {
    padding: 10px 20px 20px 20px;
}

.produtos_icone {
    background: $black;
    padding: 20px;
}

.call {
    text-align: center;
    padding-top: 40px;
    clear: both;
    @include device($device-mobile) {
        padding-top: 10px;
    }
}

.call p {
    margin-bottom: 20px;
}

/*portifólio*/

.portifolio {
    width: 100%;
    background: $black;
    padding: 40px 0;
}

.portifolio .subtitulo {
    color: $amarelo;
}

.portifolio .subtitulo:after {
    background: $amarelo;
}

.portifolio_lista li :last-child {
    margin-top: 20px;
}

.portifolio .call p {
    color: $white;
}

/* qualidade*/

.qualidade {
    padding: 60px 0;
    &:after {
        content: "";
        width: 634px;
        height: 83px;
        display: block;
        background: url("../img/linhas.svg") no-repeat center;
        position: absolute;
        top: 209px;
        right: 162px;
        z-index: -1;
        @include device($device-tablet) {
            right: 66px;
        }
        @include device($device-mobile) {
            display: none;
        }
    }
}

.qualidade img {
    margin: 0 auto;
}

.qualidade_lista {
    padding-top: 20px;
    overflow: auto; /*clear-fix*/
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
    @include device($device-tablet) {
        padding: 0 10px;
    }
}

.qualidade_lista li h3 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    margin-top: 20px;
    @include type-1(18);
}

.qualidade_lista li h3::after {
    content : "";
    display: block;
    width: 60px;
    height: 3px;
    background: $black;
    margin: 6px auto;
}

/*quebra*/

.quebra {
    width: 100%;
    height: 220px;
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
}

.quebra .quote-externo {
    max-width: 400px;
    padding-top: 40px;
}


/*Footer*/

.footer {
    width: 100%;
    background: $black;
    color: $white;
    padding: 20px 0;
}

.footer h3 {   
    color: $amarelo;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    @include type-1(18);
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: $amarelo;
    margin: 6px 0 12px 0;
}

.footer_historia {
    padding-right: 40px;
}

.footer_contato ul li{
    @include type-2(14);
}

.footer_redes ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_redes ul li a {
    border: 3px solid $amarelo;
    display: block;
    padding: 10px;
    color: $amarelo;
    @include device($device-tablet) {
        padding: 6px;
    }
}

.footer_redes ul li a img {

    @include device($device-tablet) {
        width: 26px;
        height: 26px;
    }
}

.footer_redes ul li a:hover {
    border-color: $white;
}

.copy {
    width: 100%;
    background: $amarelo;
    padding: 20px 0;
}

/* slide */
/* 5 Adicione o CSS Essencial abaixo */
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
    display: block;
    text-align: center;
    margin-top: 20px; 
}

.js [data-slide-nav] button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
    background: #1d1d1d;
}


.js [data-slide-nav] button.active {
    background: $amarelo;
}

.js [data-anime] {
    opacity: 0;
}

.js .fadeInDown {
    transform: translate3d(0, -20px, 0);
}

.js .anime  {
    opacity: 1;
    transform: none;
    transition: opacity 800ms, transform 800ms;
}

.nao-aparece {
    visibility: hidden;
    height: 0px;
    position: absolute;
}

#form-sucesso {
    color: #31aa39;
}

#form-erro {
    color: #f64540; 
}